/* General headline styles */
h1,
h2,
h3 {
  font-family: var(--headline-font);
  text-transform: capitalize;
}

/* Specific styles for H1 */
h1,
h2 {
  font-size: var(--font-h1);
  line-height: calc(var(--font-h1) + 4px);
  max-width: 650px;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: -3px;
}

h1 {
  max-width: 600px;
}

/* Specific styles for H2 */
h3 {
  font-size: var(--font-h2);
  line-height: calc(var(--font-h2) + 4px);
}

/* Specific styles for H3 */
h4 {
  font-size: var(--font-h3);
  line-height: calc(var(--font-h3) + 4px);
}

/* Text alignment utility class (corrected) */
.u__center-text {
  text-align: center;
}

.u__end-text {
  text-align: end;
}

/* Paragraph styles */
p {
  line-height: var(--line-h-main);
  font-size: var(--text-main);
  max-width: 700px;
}

.c__hero-title {
  font-size: clamp(3.5rem, 3vw, 36rem);
  font-family: var(--headline-font);
  text-transform: uppercase;
}

.c__hero p {
  max-width: 600px;
}

.u__max-500 p {
  max-width: 600px;
}

/* underline utility class */
.u__underline {
  text-decoration: underline;
}

/* Blockquote styles */
blockquote {
  font-size: 48px;
  font-family: var(--headline-font);
}

/* Inline styling for H1 spans */
h1 span {
  font-style: italic;
  font-family: inherit;
  font-size: calc(var(--font-h1) * 1.1);
  text-align: end;
}
